<div class="showroom-container">
    <div class="video-overlay"></div> <!-- Black overlay -->
    <h1 class="showroom-title">Showroom</h1> <!-- Title on top of overlay -->
    <div class="videos-container">
        <div class="stacked-videos">
            <video autoplay loop muted playsinline class="video-bw">
                <source src="/assets/show_vid1.mp4" type="video/mp4">
            </video>
            <video autoplay loop muted playsinline class="video-bw">
                <source src="/assets/show_vid2.mp4" type="video/mp4">
            </video>
        </div>
        <video autoplay loop muted playsinline class="video-bw side-video">
            <source src="/assets/show_vid3.mp4" type="video/mp4">
        </video>
    </div>
</div>
<div class="vehicle-list">
    <div *ngFor="let vehicle of vehicles" class="vehicle-card">
        <img [src]="vehicle.imageUrl" alt="Vehicle image">
        <div class="vehicle-details">
            <h3>{{ vehicle.make }}</h3>
            <h4>{{ vehicle.model }}</h4>
            <hr>
            <p class="card-text"><i class="fas fa-horse"></i> Horsepower: {{ vehicle.horsePower }}</p>
            <hr>
            <p class="card-text"><i class="fas fa-cogs"></i> Torque: {{ vehicle.torque }}</p>
            <hr>
            <p class="card-text"><i class="fas fa-calendar"></i> Year: {{ vehicle.year }}</p>
            <hr>
            <p class="card-text"><i class="fas fa-car-side"></i> Type: {{ vehicle.type }}</p>
            <hr>
            <p class="card-text"><i class="fas fa-tachometer-alt"></i> Mileage: {{ vehicle.currentMileage }} miles</p>
            <hr>
            <p class="card-text"><i class="fas fa-dollar-sign"></i> Rental Rate: ${{ vehicle.rentalRate }}</p>
            <button routerLink="/vehicles/details/{{ vehicle.id }}">View More Details</button>
        </div>
    </div>
</div>
