<!-- Introductory Video Section -->
<div class="intro-video">
  <video autoplay loop muted playsinline>
    <source src="/assets/bently.mp4" type="video/mp4">
  </video>
  <div class="intro-text">
    <h1>
      <span>Welcome to</span><br>
      <span id="dynamic-text">{{ displayText }}</span>
    </h1>
  </div>
  <!-- Scroll Down Indicator -->
  <div class="scroll-down">
    <span>⬇</span>
  </div>
</div>

<!-- Additional Videos Section -->
<!-- Additional Videos Section -->
<div class="additional-videos">
  <div class="video vertical-video" (click)="navigateToShowroom()"> <!-- Entire video clickable -->
    <video autoplay loop muted playsinline>
      <source src="/assets/showroom_fir.mp4" type="video/mp4">
    </video>
    <div class="video-overlay">Showroom<span class="underline"></span></div>
  </div>
  <div class="horizontal-videos">
    <div class="video horizontal-video" (click)="navigateToAboutUs()"> <!-- Entire video clickable -->
      <video autoplay loop muted playsinline>
        <source src="/assets/bently_hori1.mp4" type="video/mp4">
      </video>
      <div class="video-overlay">About Us<span class="underline"></span></div>
    </div>
    <div class="video horizontal-video" (click)="navigateToEvents()"> <!-- Entire video clickable -->
      <video autoplay loop muted playsinline>
        <source src="/assets/event_hori.mp4" type="video/mp4">
      </video>
      <div class="video-overlay">Events<span class="underline"></span></div>
    </div>
  </div>
</div>
