.navbar {
  background-color: #0f0f0f;
  padding: 1rem 1rem; /* Increased padding for more height */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100px; /* Ensure the navbar is tall enough */
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.logo {
  height: 80px; /* Keep the logo height */
}

.navbar-center {
  filter: brightness(0) invert(1);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%; /* Ensure the center div is as tall as the navbar */
  display: flex;
  align-items: center; /* Vertically center the logo */
}

.nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
  position: relative;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px 0;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  text-decoration: none;
}

.nav-item span {
  display: flex;
  align-items: center;
  color: white;
}

.account-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.user-email {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.bi-box-arrow-right, .bi-person-circle {
  margin-right: 3px;
  font-size: 1.2em;
}

.footer {
  background-color: #0f0f0f;
  color: white;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-logo {
  height: 80px;
  filter: brightness(0) invert(1);
  margin-right: 20px;
}

.social-media-rectangle {
  display: flex;
  flex-wrap: wrap;
  width: 80px; /* Ensures the social icons fit within the height of the logo */
}

.social-icon {
  margin: 5px;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.social-icon:hover {
  color: #ddd;
}

.footer-middle {
  text-align: center;
  flex: 1;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info p {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.footer-icon {
  margin-right: 5px;
  vertical-align: middle;
}
