<div *ngIf="vehicle" class="vehicle-details-container">
  <div class="vehicle-info">
    <div class="vehicle-image-container">
      <img [src]="vehicle?.imageUrl" alt="Vehicle Image" class="vehicle-image"
           onerror="this.src='/path-to-default-image/default-image.jpg';">
    </div>
    <div class="vehicle-details">
      <h2>{{ vehicle?.make }} {{ vehicle?.model }}</h2>
      <ul>
        <li><i class="fas fa-calendar-alt"></i> Year: {{ vehicle?.year }}</li>
        <li><i class="fas fa-car"></i> Type: {{ vehicle?.type }}</li>
        <li><i class="fas fa-id-badge"></i> VIN: {{ vehicle?.vin }}</li>
        <li><i class="fas fa-clipboard-check"></i> Status: {{ vehicle?.status }}</li>
        <li><i class="fas fa-tachometer-alt"></i> Current Mileage: {{ vehicle?.currentMileage }} miles</li>
        <li><i class="fas fa-horse-head"></i> Horsepower: {{ vehicle?.horsePower }}</li>
        <li><i class="fas fa-cogs"></i> Torque: {{ vehicle?.torque }}</li>
      </ul>
      <div class="separator"></div>
      <ul>
        <li><i class="fas fa-dollar-sign"></i> Rental Rate: ${{ vehicle?.rentalRate }}</li>
      </ul>
      <div class="button-container">
        <button (click)="navigateToRentalForm()" class="btn btn-primary">Start Rental Contract</button>
        <button (click)="navigateToServiceRecords()" class="btn btn-secondary">See Service Records</button>
      </div>
    </div>
  </div>
</div>
