@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;  
  color: white;             
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

/* Ensure that every content container is transparent to show the black background */
