<div class="container mt-5">
    <h2 class="mb-4 text-center">Customers Management</h2>
    <a class="btn btn-primary mb-3" routerLink="/customers/add">Add New Customer</a>
    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">License Number</th>
            <th class="text-center">Phone</th>
            <th class="text-center">Email</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td class="text-center">{{ customer.id }}</td>
            <td class="text-center">{{ customer.firstName }}</td>
            <td class="text-center">{{ customer.lastName }}</td>
            <td class="text-center">{{ customer.licenseNumber }}</td>
            <td class="text-center">{{ customer.phone }}</td>
            <td class="text-center">{{ customer.email }}</td>
            <td class="text-center">
              <a class="btn btn-info btn-sm" *ngIf="customer.id" routerLink="/customers/edit/{{ customer.id }}">Edit</a>
              <button class="btn btn-danger btn-sm" *ngIf="customer.id" (click)="deleteCustomer(customer.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  